<a routerLink="/filiere/edit" routerLinkActive="active" class="btn btn-link"
  >creation d'une filiere</a
>
<table class="table">
  <tbody>
    @for(f of filieres;track f.id){
    <tr>
      <td>{{ f.id }}</td>
      <td>{{ f.libelle }}</td>
      <td>{{ f.debut | date : "dd/MM/yyyy" }}</td>
      <td>{{ f.fin | date : "dd/MM/yyyy" }}</td>
      <td>
        <a
          routerLink="/filiere/edit/{{ f.id }}"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >editer</a
        >
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="delete(f.id!)">
          suprimer
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
